alembic==0.9.6
appdirs==1.4.3
autoenv==1.0.0
Babel==2.5.1
blinker==1.4
chardet==3.0.4
click==6.7
coverage==4.4.1
cupshelpers==1.0
decorator==4.1.2
defusedxml==0.5.0
Flask==0.12.2
Flask-Babel==0.11.2
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Migrate==2.1.1
Flask-OpenID==1.2.5
Flask-REST-JSONAPI==0.13.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-WhooshAlchemy==0.56
Flask-WTF==0.14.2
flipflop==1.0
greenlet==0.4.12
guess-language==0.2
gufw==17.10.0
i3-py==0.6.5
idna==2.6
itsdangerous==0.24
Jinja2==2.11.3
lightdm-gtk-greeter-settings==1.2.1
louis==3.3.0
Mako==1.0.7
MarkupSafe==1.0
marshmallow==2.13.1
marshmallow-jsonapi==0.15.1
msgpack-python==0.4.8
neovim==0.1.13
npyscreen==4.10.5
packaging==16.8
pacman-mirrors==4.2.3
pbr==3.1.1
psycopg2==2.7.3.1
pycairo==1.13.3
pycups==1.9.73
pycurl==7.43.0
pygobject==3.24.1
pyparsing==2.2.0
python-dateutil==2.6.1
python-editor==1.0.3
python3-openid==3.1.0
pytz==2017.2
quickswitch-i3==2.7.0
ranger==1.8.1
requests==2.18.4
six==1.11.0
speedtest-cli==1.0.6
SQLAlchemy==1.1.14
sqlalchemy-migrate==0.11.0
sqlparse==0.2.4
team==1.0
Tempita==0.5.2
urllib3==1.22
virtualenv==15.1.0
Werkzeug==0.12.2
Whoosh==2.7.4
WTForms==2.1
